/* for block of numbers */
td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
  /* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 10px;
}

.hljs-ln tr td{
  padding: 0;
  border: none;
}

.hljs-ln tr td.hljs-ln-numbers {
  padding-right: 15px;
  padding-left: 15px;
}

table.hljs-ln {
  margin: unset;
}
